* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: rgba(0, 0, 0, 0.5) inset;
}

.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.panel__list {
  display: flex;
}
.panel__list li {
  padding: 15px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.panel__list a {
  text-decoration: none rgb(0, 0, 0);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.buttons__log-in {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  text-align: center;
  white-space: nowrap;
  padding: 10px 20px;
}
.buttons__try-it {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 156, 125);
  text-align: center;
  white-space: nowrap;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
}
.buttons__try-it--isRecolored {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 0, 0);
  margin-top: 20px;
}
.buttons__try-it--isReversed {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.intro {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(4, auto);
  padding: 5%;
  align-items: center;
  align-content: center;
}
.intro__header {
  font-family: Roboto;
  font-size: 65px;
  font-weight: 600;
}
.intro__info {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
}
.intro__subscription {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
}
.intro__logo {
  grid-area: 1/2/span 4/span 2;
  max-height: 530px;
  background-size: cover;
  background-position: center;
}

.partners {
  background-color: rgb(255, 156, 125);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  padding: 4%;
  align-items: center;
  align-content: center;
}
.partners__info {
  grid-area: 1/1/span 1/span 1;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 600;
  white-space: pre-wrap;
  text-align: center;
}
.partners__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 3%;
  gap: 120px;
}

.lokalise {
  padding: 4%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  background: rgb(255, 248, 228);
  grid-gap: 25px;
}
.lokalise__logo {
  padding: 2%;
  grid-area: 1/1/span 1/span 3;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 600;
}

.tenfold {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 35px;
  padding: 5%;
  align-items: center;
  justify-items: center;
}
.tenfold__header {
  grid-area: 1/1/span 1/span 3;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 600;
}
.tenfold__title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 600;
}
.tenfold__info {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}
.tenfold__link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}

.elem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elem__title {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 3%;
  text-align: center;
}
.elem__info {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  padding-top: 3%;
  text-align: center;
}

.chief {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  background: rgb(201, 232, 242);
  padding: 3%;
  column-gap: 25px;
}
.chief__photo {
  grid-area: 1/2/span 3/span 2;
}
.chief__info {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
}
.chief__author {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
}

.translators {
  background: rgb(218, 188, 152);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.translators__stars {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 35px;
}

.item {
  display: flex;
  align-content: space-around;
}
.item__info {
  padding-left: 5%;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 600;
  border-right: 3px solid rgb(0, 0, 0);
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0 3% 0;
  text-align: center;
}
.tools__header {
  font-family: Roboto;
  font-size: 65px;
  font-weight: 600;
}
.tools__info {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  margin-top: 2%;
}
.tools__info-isSmaller {
  font-size: 20px;
}
.tools__pic {
  max-width: 1020px;
  margin-top: 2%;
}
.tools-isChangedBackGround {
  background: rgb(255, 156, 125);
}

.studies {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2%;
  border-bottom: 2px solid rgb(0, 0, 0);
  background: rgb(238, 238, 238);
}
.studies__options {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10%;
}
.studies__options > p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
}
.studies__options > ul > li {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  margin-bottom: 15px;
}
.studies__options > ul > li > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.case {
  display: flex;
  flex-direction: column;
}
.case__header {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 2%;
}
.case__logo {
  max-width: 300px;
  padding: 2% 0 2% 0;
}
.case__logo--isResized {
  max-width: 80px;
}
.case__info {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 2%;
}
.case__reading {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
}

.rights {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  gap: 30%;
  padding: 2% 0 2% 0;
  background: rgb(238, 238, 238);
}

.rights > div > * {
  padding-bottom: 2%;
}

.blocks {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
}

.block-item {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, auto);
  padding: 8%;
}
.block-item__image {
  padding: 3%;
  grid-area: 1/2/span 2/span 2;
}
.block-item__infos {
  display: flex;
  flex-direction: column;
}
.block-item__header {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 600;
  padding: 3%;
}
.block-item__main-info {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  padding: 3%;
}
.block-item__epilog {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  padding: 3%;
  text-align: left;
}



/*# sourceMappingURL=style.css.map */
