* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  //text-decoration: #333333;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: lightgray inset;


  &__left-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;


    &__links {
      display: flex;

      li {
        padding: 15px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
      }
    }

  }


  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;


    &__log-in {
      font-family: Roboto;
      font-size: 16px;
      border-color: lightgray;
      background-color: transparent;
      text-align: center;
      white-space: nowrap;
      padding: 10px 20px;
    }

    &__try-it {
      font-family: Roboto;
      font-size: 16px;
      border-color: lightgray;
      background-color: #FF6336;
      text-align: center;
      white-space: nowrap;
      padding: 10px 20px;
      color: white;
    }
  }

}


.intro {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto auto;
  /* gap: 10px; */
  padding: 5%;
  align-items: center;
  align-content: center;

  &__header {
    font-family: Roboto;
    font-size: 65px;
    font-weight: 600;
  }

  &__info-block {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;

  }


  &__info-subscription {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;

  }

  &__logo {
    grid-area: 1 / 2 / span 4 / span 2;
    max-height: 530px;
    background-size: cover;
    background-position: center;
  }
}


.partners {
  background-color: #FF9C7D;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  padding: 4%;
  align-items: center;
  align-content: center;

  &__info {
    grid-area: 1 / 1 / span 1 / span 1;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 600;
    white-space: pre-wrap;
    text-align: center;

  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    padding: 15px;
    gap: 120px;
  }

}

.blocks {
  display: grid;
  //grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto auto;

  &__first, &__second, &__third, &__fourth {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    padding: 8%;


    &__infos {
      display: flex;
      flex-direction: column;


      &__header {
        font-family: Roboto;
        font-size: 50px;
        padding: 3%;
      }

      &__main-info {

        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        padding: 3%;

      }

      &__epilog {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 600;
        padding: 3%;
        text-align: left;
      }

      &__image {
        padding: 3%;
        grid-area: 1 / 2 / span 2 / span 2;
      }
    }
  }
}

.lokalise {
  padding: 8%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background: #FFF8E4;
  grid-gap: 25px;

  &__logo {
    padding: 2%;
    grid-area: 1 / 1 / span 1 / span 3;
    text-align: center;

    font-family: Roboto;
    font-size: 50px;
    font-weight: 600;

  }

  &__elem {
    display: flex;
    flex-direction: column;
    align-items: center;


    &__title {
      font-family: Roboto;
      font-size: 25px;
      font-weight: 600;
      padding-bottom: 3%;
      text-align: center;

    }

    &__info {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      padding-top: 3%;
      text-align: center;
    }
  }
}

/*# sourceMappingURL=style.css.map */

