$brown-color:rgba(255, 156, 125, 1);
$sand-color:rgba(255, 248, 228, 1);
$blue-color:rgba(201, 232, 242, 1);
$mustard-color:rgba(218, 188, 152, 1);
$black-color:rgba(0, 0, 0, 1);
$white-color:rgba(255, 255, 255, 1);
$grey-color:rgba(0, 0, 0, 0.5);
$font-family:Roboto;

@mixin flex($display,$dir,$align-items){
  display: $display;
  flex-direction: $dir;
  align-items: $align-items;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  //text-decoration: #333333;
}

.navigation {
  @include flex(flex,row,center);
  //display: flex;
  //align-items: center;
  justify-content: space-around;
  border-bottom: $grey-color inset;


  &__left-panel {
    @include flex(flex,row,center);

//    display: flex;
    justify-content: space-around;
//    align-items: center;


    &__links {
      display: flex;

      li {
        padding: 15px;
        font-family: $font-family;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
      }
      a{
        text-decoration: none $black-color;
      }
    }

  }


  &__buttons {
    @include flex(flex,row,center);

    //display: flex;
    //align-items: center;
    gap: 10px;
    margin: 20px;


    &__log-in {
      font-family: $font-family;
      font-size: 16px;
      border-color: $grey-color;
      background-color: transparent;
      text-align: center;
      white-space: nowrap;
      padding: 10px 20px;
    }

    &__try-it {
      font-family: $font-family;
      font-size: 16px;
      border-color: lightgray;
      background-color: $brown-color;
      text-align: center;
      white-space: nowrap;
      padding: 10px 20px;
      color: $white-color;
    }
  }

}


.intro {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto auto;
  /* gap: 10px; */
  padding: 5%;
  align-items: center;
  align-content: center;

  &__header {
    font-family: $font-family;
    font-size: 65px;
    font-weight: 600;
  }

  &__info-block {
    font-family: $font-family;
    font-size: 25px;
    font-weight: 400;

  }


  &__info-subscription {
    font-family: $font-family;
    font-size: 15px;
    font-weight: 400;

  }

  &__logo {
    grid-area: 1 / 2 / span 4 / span 2;
    max-height: 530px;
    background-size: cover;
    background-position: center;
  }
}


.partners {
  background-color: $brown-color;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  padding: 4%;
  align-items: center;
  align-content: center;

  &__info {
    grid-area: 1 / 1 / span 1 / span 1;
    font-family: $font-family;
    font-size: 50px;
    font-weight: 600;
    white-space: pre-wrap;
    text-align: center;

  }

  &__list {
    //display: flex;
    //align-items: center;
    @include flex(flex,row,center);

    flex-direction: row;
    align-content: center;
    padding: 15px;
    gap: 120px;
  }

}

.blocks {
  display: grid;
  //grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto auto;

  &__first, &__second, &__third, &__fourth {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    padding: 8%;


    &__infos {
      display: flex;
      flex-direction: column;


      &__header {
        font-family: $font-family;
        font-size: 50px;
        padding: 3%;
      }

      &__main-info {

        font-family: $font-family;
        font-size: 20px;
        font-weight: 400;
        padding: 3%;

      }

      &__epilog {
        font-family: $font-family;
        font-size: 20px;
        font-weight: 600;
        padding: 3%;
        text-align: left;
      }

      &__image {
        padding: 3%;
        grid-area: 1 / 2 / span 2 / span 2;
      }
    }
  }
}

.lokalise {
  padding: 8%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background: $sand-color;
  grid-gap: 25px;

  &__logo {
    padding: 2%;
    grid-area: 1 / 1 / span 1 / span 3;
    text-align: center;

    font-family: $font-family;
    font-size: 50px;
    font-weight: 600;

  }

  &__elem {
    @include flex(flex,column,center);

    //display: flex;
    //flex-direction: column;
    //align-items: center;


    &__title {
      font-family: $font-family;
      font-size: 25px;
      font-weight: 600;
      padding-bottom: 3%;
      text-align: center;

    }

    &__info {
      font-family: $font-family;
      font-size: 18px;
      font-weight: 400;
      padding-top: 3%;
      text-align: center;
    }
  }
}

.tenfold {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 35px;
  padding: 5%;
  align-items: center;
  justify-items: center;
  //text-align: center;

  &__header {
    grid-area: 1 / 1 / span 1 / span 3;
    text-align: center;
    font-family: $font-family;
    font-size: 50px;
    font-weight: 600;

  }

  &__title {
    font-family: $font-family;
    font-size: 30px;
    font-weight: 600;

  }

  &__info {

    font-family: $font-family;
    font-size: 20px;
    font-weight: 400;
  }

  &__link {
    font-family: $font-family;
    font-size: 20px;
    font-weight: 400;

  }
}

.chief {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  background: $blue-color;
  padding: 3%;
  column-gap: 25px;


  &__photo {
    grid-area: 1 / 2 / span 3 / span 2;

  }

  &__info {
    font-family: $font-family;
    font-size: 30px;
    font-weight: 400;
  }

  &__author {
    font-family: $font-family;
    font-size: 15px;
    font-weight: 400;
  }
}

.translators {
  background: $mustard-color;
  //display: flex;
  //align-items: center;
  @include flex(flex,row,center);
  justify-content: center;

  &__item {
    display: flex;
    align-content: space-around;
  }

  &__info {
    padding-left: 5%;
    font-family: $font-family;
    font-weight: 600;
    font-size: 35px;

    border-right: 3px solid $black-color;
  }

  &__stars {
    padding: 5%;
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 35px;

  }
}

.tools {
  //display: flex;
  //flex-direction: column;
  //align-items: center;

  @include flex(flex,column,center);
  padding: 3% 0 3% 0;
  text-align: center;

  &__header {
    font-family: $font-family;
    font-size: 65px;
    font-weight: 600;
  }

  &__info {
    font-family: $font-family;
    font-size: 25px;
    font-weight: 400;
    margin-top: 2%;

    &-isSmaller {
      font-size: 20px;
    }
  }

  &__button {

    font-family: $font-family;
    font-size: 16px;
    border-color: $grey-color;
    background-color: $brown-color;
    text-align: center;
    white-space: nowrap;
    padding: 10px 20px;
    color: white;
    margin-top: 2%;

    &-isRecoloured {
      background: $black-color;
    }
  }

  &__pic {
    max-width: 1020px;
    margin-top: 2%;
  }


  &-isChangedBackGround {
    background: $brown-color;
  }
}

.studies {
  //display: flex;
  //align-items: flex-start;
  @include flex(flex,row,flex-start);
  justify-content: center;
  padding: 2%;
  border-bottom: 2px solid #000000;
  background: #EEEEEE;


  &__header {
    font-family: $font-family;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 2%;

  }

  &__case {
    display: flex;
    flex-direction: column;

  }

  &__options {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10%;
  }

  &__logo {
    max-width: 300px;
    padding: 2% 0 2% 0;

    &-isResized {
      max-width: 80px;

    }
  }

  &__info {
    font-family: $font-family;
    font-size: 20px;
    font-weight: 400;
    padding: 2% 0 2% 0;

  }

  &__reading {
    font-family: $font-family;
    font-size: 20px;
    font-weight: 600;

  }

  &__options > p {
    font-family: $font-family;
    font-size: 20px;
    font-weight: 600;
  }

  &__options > ul > li {
    font-family: $font-family;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    margin-bottom: 15px;

  }

  &__options > ul > li > a {
    text-decoration: none;
    color: $black-color;

  }
}

.rights {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  gap: 30%;
  padding: 2% 0 2% 0;
  background: #EEEEEE;
}

.rights > div > * {
  padding-bottom: 2%;
}

/*# sourceMappingURL=style.css.map */

